<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                    <th>completedAt</th>
                    <th>completed</th>
                </tr>
                </thead>
                <tbody>
                {{#each result}}
                <tr>
                    <td>{{ this._id }}</td>
                    <td>{{ this.text }}</td>
                    <td>{{ this.completedAt }}</td>
                    {{#if time}}
                    <td>{{ time.[0] }}</td>
                    {{/if}}
                    <td>{{ this.completed }}</td>
                    <form>
                      <td><button formaction="/view" name='view' type='submit' method='get' value='{{this._id}}'>View</button></td>
                    </form>
                </tr>
                {{/each}}
                </tbody>
            </table>
  </body>
</html>
